.cardbox{
    flex: 1;
}

.cardbox:not(:last-child){
    margin-right: 15px;
}


.cardcases{
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    margin-top: 8px;
}
.cardtotle{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}
